body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

body .container {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .container-hero {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .login-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .login-wrapper img {
  width: 50px;
}

body .input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .input-wrapper label {
  margin-top: 12px;
  -webkit-transform: translateX(-87px);
          transform: translateX(-87px);
  color: #219FDB;
}

body .input-wrapper #username {
  border: none;
  border-bottom: 1px solid #219FDB;
  padding: 6px;
  margin-top: 10px;
  width: 240px;
  outline: none;
}

body .input-wrapper #username::-webkit-input-placeholder {
  color: #b3b2b2;
}

body .input-wrapper #username:-ms-input-placeholder {
  color: #b3b2b2;
}

body .input-wrapper #username::-ms-input-placeholder {
  color: #b3b2b2;
}

body .input-wrapper #username::placeholder {
  color: #b3b2b2;
}

body .input-wrapper #password {
  border: none;
  border-bottom: 1px solid #219FDB;
  padding: 6px;
  margin-top: 10px;
  width: 240px;
  outline: none;
}

body .input-wrapper #password::-webkit-input-placeholder {
  color: #b3b2b2;
}

body .input-wrapper #password:-ms-input-placeholder {
  color: #b3b2b2;
}

body .input-wrapper #password::-ms-input-placeholder {
  color: #b3b2b2;
}

body .input-wrapper #password::placeholder {
  color: #b3b2b2;
}

body .input-wrapper #submit {
  background: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: linear-gradient(98.27deg, #28D1DB 3.93%, #23B6E6 50.25%, #219FDB 93.23%);
  border-radius: 20px;
  padding: 10px;
  margin-top: 20px;
  width: 120px;
  color: #FFF;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  cursor: pointer;
}

a.link-01 {
  display: inline-block;
  text-decoration: none;
  color: #000;
  font-size: 10px;
  margin-top: 16px;
}

h1 {
  color: #23B3E4;
}
/*# sourceMappingURL=main.css.map */