body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;

    .container{
        width: 100%;
        height: 100vh;
        margin: 0;
        // padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container-hero{
        width: 100%;
        height: 100vh;
        margin: 0;
        // padding: 10px;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
    }

    .login-wrapper{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    .login-wrapper img{
        width: 50px;
    }

    .input-wrapper{
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;

        label{
            margin-top: 12px;
            transform: translateX(-87px);
            color: #219FDB;
        }

        #username{
            border: none;
            border-bottom: 1px solid #219FDB;
            padding: 6px;
            margin-top: 10px;
            width: 240px;
            outline: none;
        }

            #username::placeholder{
                color: rgb(179, 178, 178);
            }

        #password{
            border: none;
            border-bottom: 1px solid #219FDB;
            padding: 6px;
            margin-top: 10px;
            width: 240px;
            outline: none;
        }

            #password::placeholder{
                color: rgb(179, 178, 178);
            }

        #submit{
            background: none;
            box-shadow: none;
            border: none;
            background: linear-gradient(98.27deg, #28D1DB 3.93%, #23B6E6 50.25%, #219FDB 93.23%);
            border-radius: 20px;
            padding: 10px;
            margin-top: 20px;
            width: 120px;
            color: #FFF;
            font-weight: 700;
            font-size: 18px;
            outline: none;
            cursor: pointer;
        }
    }
}

// Texts

a.link-01{
    display: inline-block;
    text-decoration: none;
    color: #000;
    font-size: 10px;
    margin-top: 16px;
}

h1{
    color: #23B3E4;
}